<% if(service != null && service == "bolita"){ %>
    <style>
        body { color: white; background: #263238; }
        h1, h2, body, input, input::placeholder{ color: white }
        h1 { font-size: 27px; margin: 0; }
        h2 { font-size: 20px; margin-top: .5rem; }
        a, label.active { color: #FFA420 !important }

        input:focus, input.valid{
            box-shadow: none !important;
            border-bottom: 1px solid #FFA420 !important;
        }

        table.striped>tbody>tr:nth-child(odd) {
            background: transparent;
        }

        .fixed-action-btn > a{
            background: #455A64;
        }
    </style>
<% } %>

<div class="row" style="margin-top: 1.2rem; margin-bottom: 4rem;">
    <div class="col s12">
        <h1>Invite y gane</h1>
        <p>Invite a sus amigos y familiares. Ambos ganarán §0.5 cuando su invitado use la app por primera vez.</p>
        <p>Inserte el email de su contacto, nosotros le dejaremos saber que usted le invitó.</p>

        <div class="input-field" style="margin: 0; padding: 0;">
            <input type="email" id="email" class="validate" maxlength="40">
            <label for="email">Email a invitar</label>
        </div>

        <div class="fixed-action-btn">
            <a onclick="sendInvitation()" class="btn-floating btn-large"><i class="material-icons">send</i></a>
        </div>

        <% if (invitations.length > 0) { %>
            <% var total = 0; %>
            <p>A continuación sus invitados, y el estado de cada invitación.</p>
            <table class="striped">
                <thead>
                <tr>
                    <th>Invitado</th>
                    <th>Ganancia</th>
                </tr>
                </thead>
                <tbody>
                <% invitations.forEach(function(invitation) { %>
                    <% total += invitation.accepted * 0.5 %>
                    <tr>
                        <td>
                            <%= invitation.email_to %>
                            <br>
                            <small><%= invitation.send_date %></small>

                            <% if(invitation.accepted == 0 && invitation.days >= 3){ %>
                                <br>
                                <small>
                                    <a onclick="apretaste.send({command:'REFERIR INVITAR', data:{email:'<%= invitation.email_to %>', 'service': service}})">Recordar</a>
                                </small>
                            <% } %>
                        </td>
                        <td>§<%= invitation.accepted != 0 ? (invitation.accepted * 0.5).toFixed(2) : 0 %></td>
                    </tr>
                <% }); %>
                <tr>
                    <td><b>Total</b></td>
                    <td>§<%= total % 1 != 0 ? total.toFixed(2) : total %></td>
                </tr>
                </tbody>
            </table>
        <% } %>
    </div>
</div>
