<div class="row">
	<div class = "col s12">
		<% if (referred) { %>
			<h1>Quién lo refirió</h1>
			<p>Usted fué referido por <a href="#" onclick="apretaste.send({command: 'PERFIL', data: {username: father}});">@<%= father %></a> y ambos ganaron §<%= profit_by_child %>.</p>
		<% } %>

		<h1>Sus referidos (<%= children.length %>)</h1>
		<% if (children.length > 0) { %>
			<p>Haga que sus amigos le refieran y ambos ganarán §<%= profit_by_child %>. Además, por cada usuario que ellos refieran usted ganará §<%= profit_by_nieto %> más.</p>
			<p>A continuación quienes usted ha referido, el número de amigos que ellos referieron, y la cantidad que ha ganado por cada uno.</p>
			<table class="centered striped">
				<thead>
					<tr>
						<th>Amigo</th>
						<th>Refirió</th>
						<th>Ganancia</th>
					</tr>
				</thead>
				<tbody>
				<% children.forEach(function(child) { %>
				<tr>
					<td><a href="#!" onclick="apretaste.send({command:'PERFIL', data:{username:'<%= child.person %>'}})">@<%= child.person %></a></td>
					<td><%= child.referred %></td>
					<td>§<%= child.earnings %></td>
				</tr>
				<% }); %>
				</tbody>
			</table>
		<% } else { %>
			<p><b>Usted aún no tiene referidos.</b> Haga que sus amigos inserten su @username o email en este servicio, y ambos ganarán §<%= profit_by_child %>.</p>
			<p>Por cada persona que sus referidos inviten usted ganará §<%= profit_by_nieto %> extras.</p>
		<% } %>
	</div>
</div>